include LICENSE
include README.md
include pyproject.toml
recursive-include cpmoakb *.py
include cpmoakb/database/schema.sql
prune .github
prune data
prune docs
prune examples
prune references
prune scripts
prune tests
prune tmp
prune tools
prune validation
global-exclude *.csv *.db *.pdf *.py[cod] *.sqlite *.sqlite3
global-exclude .coverage .DS_Store Thumbs.db
